<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- React -->
    <div id="app"></div>
    <!-- Handlebars -->
    <div class="body">
      {{{body}}}
    </div>
    <script type="text/javascript" src="/build/bundle.js"></script>
  </body>
</html>
