<!DOCTYPE html>
<html>
  <head>    
    <script src="https://use.fontawesome.com/ca1e7de9a8.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,800,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/component_styles.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
  </head>
  <body>
    <!-- React -->
    <div id="app" class="container-fluid p-0 height-100"></div>
    <!-- Handlebars -->
    <!-- <div class="body">
      {{{body}}}
    </div> -->
    <script type="text/javascript" src="/build/app.bundle.js"></script>
    <script type="text/javascript" src="/build/dashboard.bundle.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://npmcdn.com/tether@1.4.0/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
