<!DOCTYPE html>
<html>
  <head>
    <title>WE Design Studios | {{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,800,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/component_styles.css' />
  </head>
  <body>
    <!-- React -->
    <div id="app" class="container-fluid p-0"></div>
    <!-- Handlebars -->
    <!-- <div class="body">
      {{{body}}}
    </div> -->
    <script type="text/javascript" src="/build/app.bundle.js"></script>
    <script type="text/javascript" src="/build/dashboard.bundle.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://npmcdn.com/tether@1.4.0/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
