// Custom Mixins

$ipad-pro-portrait-breakpoint: "(min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px)";

$ipad-pro-landscape-breakpoint: "(min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px)";

// Target iPad Pro
@mixin respond($media) {
  @if $media == ipad-pro-portrait {
    @media only screen and #{$ipad-pro-portrait-breakpoint} { @content; }
  }

  @if $media == ipad-pro-landscape {
    @media only screen and #{$ipad-pro-landscape-breakpoint} { @content; }
  }
}

// Hover transitions

@mixin hover-transition($rule) {
  transition: $rule 0.15s ease-in-out;
  -ms-transition: $rule 0.15s ease-in-out;
  -webkit-transition: $rule 0.15s ease-in-out;
  -moz-transition: $rule 0.15s ease-in-out;
  -o-transition: $rule 0.15s ease-in-out;
}

// Nav underline animation

@mixin animated-underline($y-offset) {
  @include hover-transition(width);
  bottom: 0;
  box-shadow: 0 $y-offset 0 $barberry;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 0;
}
