// Colors
//Unique names from Name That Color http://chir.ag/projects/name-that-color/#6195ED
//See also https://davidwalsh.name/sass-color-variables-dont-suck

$barberry: #E6E31A;
$black: #000000;
$blue_ribbon: #024FF3;
$dodger-blue: #00B7FF;
$white: #FFFFFF;
$alto: #DEDEDE; // same as rgba(0,0,0,0.125) used in default Bootstrap card border
