// Contact page styles

#contact-video {
  @include respond(ipad-pro-portrait) {
    display: none;
  }
  @include respond(ipad-pro-landscape) {
    display: none;
  }
  display: block;
  max-width: 100%;
  min-width: 100%;
}

#ipad-pro-poster-img {
  @include respond(ipad-pro-portrait) {
    display: block;
  }
  display: none;
}

#ipad-pro-poster-img-landscape {
  @include respond(ipad-pro-landscape) {
    display: block;
  }
  display: none;
}