#login-card {
  .card {
    width: 18rem;

    > img:hover {
      cursor: initial;
    }
    a:hover {
      background-color: $barberry;
    }
  }
  .card-img-top {
    background-color: $alto; 
  }
  .card-block {
    border-top: 1px solid $alto;
  }
}