// Footer styles

// Wrapper class keeps footer at bottom of screen when not enough content to push it down
.height-100 {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -15rem;
  padding-bottom: 15rem;
}

#footer {
  background-color: $black;
  color: $white;
  height: 15rem;

  a {
    color: inherit;
  }
}

.copyright {
  font-size: 0.8rem;
}

#social-icons {
  .copyright {
    display: none;
  }
}

.social-icon-circle {
  border: 3px solid;
  border-radius: 100%;
  font-size: 18px;
  height: 35px;
  padding-top: 6px;
  text-align: center;
  width: 35px;
}

.fa-facebook {
  padding-right: 1px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin-bottom: -20rem;
    padding-bottom: 20rem;
  }

  #footer {
    height: 20rem;
  }

  #social-icons {
    order: 1;

    .copyright {
      display: block;
    }
  }
  #name-block {
    .copyright {
      display: none;
    }
  }
}