// Form component styles

form {

  .Select-control {
    border-color: none;  
    border: 1px solid rgba(0,0,0,0.15);  
    padding: 0.05rem 0.75rem;

    .Select-input {
      padding-left: 0;
    }
  }

  .checkboxes-container, 
  .images-select-container {
    max-height: 21.4rem;
    overflow: scroll;

    img {
      margin: 0.5rem;
      border: 5px solid transparent;
    }
    
    img.selected {
      border-color: orange;
    }
  }

  textarea {

    &.form-control {
      min-height: 10rem;
    }
  }
}