// FormMailchimpSignUp component styles

#mc_signup_cta {
  color: $black;
}

#mc_signup_form {
  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px $black solid;
    color: $black;
    width: 100%;

    &::placeholder {
      color: $black;
    }
  }
}