// Form component styles

.checkboxes-container, 
.images-select-container {
  max-height: 21.4rem;
  overflow: scroll;

  img {
    margin: 0.5rem;
    border: 5px solid transparent;
  }
  
  img.selected {
    border-color: orange;
  }
}