// Global styles

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
} 

a {
  color: #00B7FF;  
}

input {
  margin-bottom: 0.85rem;
  padding: 0.25rem 0.4rem;

  &.err  {
   border: 2px solid red;
  }
  &:focus {
    outline: none;
  }
}

textarea {
  &.err {
    border: 2px solid red;
  }
}