// Global styles

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}

body {
  color: $black;
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
  margin: 0;
} 

a {
  color: $black;
  text-decoration: underline;

  &:hover {
    background-color: $barberry;
    color: $black;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

input,
button,
optgroup,
select,
textarea {
  font-family: inherit;
}

input {
  margin-bottom: 0.85rem;
  padding: 0.25rem 0.4rem;

  &.err  {
   border: 2px solid red;
  }
  &:focus {
    outline: none;
  }
}

textarea {
  &.err {
    border: 2px solid red;
  }
}

hr {
  border: none;
  background-color: $black;

  &.hr-1rem {
    height: 1rem;
  }
  &.hr-point7rem {
    height: 0.7rem;
  }
  &.hr-half-rem {
    height: 0.5rem;
  }
}

video {
  display: block;
  max-width: 100%;
  min-width: 100%;
}