// Index page styles

.image-full-width {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .image-full-width-container {
    width: 100%;
  }

  .image-full-width-text {
    bottom: 3rem;
    color: white;
    display: block;
    max-width: 100%;
    position: absolute;    
    width: 100%;
  }
}