// Line height classes
.line-height-1-rem {
  line-height: 1rem;
}

.line-height-1-25-rem {
  line-height: 1.25rem;
}

.line-height-1-45-rem {
  line-height: 1.45rem;
}

.line-height-1-5-rem {
  line-height: 1.5rem;
}

.line-height-1-75-rem {
  line-height: 1.75rem;
}

.line-height-2-rem {
  line-height: 2rem;
}