// Navbar component styles
#navbar-main {
  ul {
    width: 100%;
  }

  ul li {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.06rem;
    text-transform: uppercase;

  &#nav-we-eye-logo a:hover {
    box-shadow: none; 
  }

  &#nav-we-eye-logo img {
    width: 8rem;
  }

  a {
    color: $white;      

      &.nav-active,
      &:hover {
        box-shadow: 0 7px 0 $barberry;
        display: inline-block;
      }
      &.nav-link {
        display: inline-block;
        padding: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 1440px) {
  #navbar-main {
    ul li {
      &#nav-we-eye-logo img {
        width: 6rem;
      }      
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav-justified .nav-item {
    flex: 0;
  }
}