  // Press/Work/About/Post/Contact component styles

#work,
#press {
  .card {
    &::before {
      background-color: rgba(0,0,0,0.0);
      content: '';
      height: 100%;
      position: absolute;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease;
      width: 100%;
    }

    @media (hover) {
      &:hover::before {
        background-color: rgba(0,0,0,0.05);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .card-title {
        &::after {
          @include animated-underline(5px);
        }

        &.animate-underline::after {
          width: 100%;
        }
      }
    }
  }
}

#client-logos {
  img {
    &#logo-un,
    &#logo-thomsonreuters,
    &#logo-risd {
      max-width: 100%;
      width: 6rem;
    }
    &#logo-whowhatwear,
    &#logo-icg,
    &#logo-mhc {
      max-width: 100%;
      width: 10rem;
    }
    &#logo-aiga {
      max-width: 100%;
      width: 4.5rem;
    }
    &#logo-wfc {
      max-width: 100%;
      width: 8.5rem;
    }
    &#logo-hmithl,
    &#logo-hutong {
     max-width: 100%;
     width: 8rem;
    }
  }
}

.feature-image {
  max-height: 50rem;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .feature-image {
    max-height: 30rem;
  }
}

.headshot {
  margin-top: 2.4375rem;
}

.headshot-animated-gif {
  left: 0;
  position: absolute;
}

@media screen and (max-width: 575px) {
  .about-profile {
    padding: 0;
  }
  .order-1 {
    order: -1;
  }
}

#wp-post-content {
  img {
    height: auto;
    margin-bottom: 2rem;
    max-width: 100%;
  }
  p {
    margin-bottom: 2rem;
  }
  h4 {
    font-family: 'Muli';
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
}

.back-to-top {
  cursor: pointer;
  @include hover-transition(background-color);

  &:hover {
    background-color: $barberry;
    padding: 0.15rem 0.5rem;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.video-container {
  max-height: 72rem;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .video-container {
    max-height: 40rem;
    @include respond(ipad-pro-portrait) {
      max-height: 72rem;
    }
    @include respond(ipad-pro-landscape) {
      max-height: 72rem;
    }
  }
}

.img-container-mobile {
  max-height: 42rem;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    max-height: 65rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  #cta-contact {
    .h1-jumbo {
      font-size: 5rem;
    }    
  }  
}

@media screen and (max-width: 575px) {
  #cta-contact {
    .h1-jumbo {
      font-size: 3rem;
    }    
  }

  #contact-email-addresses {
    h5 {
      font-size: 1.05rem;
    }
  }
}

.ipad-pro-video {
  @include respond(ipad-pro-portrait) {
    display: none;
  }
  @include respond(ipad-pro-landscape) {
    display: none;
  }
}

.ipad-pro-poster-img {
  @include respond(ipad-pro-portrait) {
    display: block !important;
  }
  @include respond(ipad-pro-landscape) {
    display: block !important;
  }
  display: none !important;
}

.ipad-pro-poster-img-landscape {
  @include respond(ipad-pro-landscape) {
    display: block !important;
  }
  display: none !important;
}

.ipad-pro-poster-img-portrait {
  @include respond(ipad-pro-portrait) {
    display: block !important;
  }
  display: none !important;
}