// PressStory/WorkProject component styles

.letter-spacing-point125-rem {
  letter-spacing: 0.125rem;
}

.feature-image {
  max-height: 50rem;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .feature-image {
    max-height: 30rem;
  }
}