// Press/Work/About/Post/Contact component styles

#work,
#press {
  .card {
    &::before {
      background-color: rgba(0,0,0,0.0);
      content: '';
      height: 100%;
      position: absolute;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease;
      width: 100%;
    }

    &:hover::before {
      background-color: rgba(0,0,0,0.05);
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .card-title {
      &::after {
        @include animated-underline(5px);
      }

      &.animate-underline::after {
        width: 100%;
      }
    }
  }
}

.feature-image {
  max-height: 50rem;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .feature-image {
    max-height: 30rem;
  }
}

.headshot {
  margin-top: 2.4375rem;
}

.headshot-animated-gif {
  left: 0;
  position: absolute;
}

@media screen and (max-width: 575px) {
  .about-profile {
    padding: 0;
  }
  .order-1 {
    order: -1;
  }
}

#wp-post-content {
  img {
    height: auto;
    margin-bottom: 2rem;
    max-width: 100%;
  }
  p {
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    line-height: 1.45rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
}

.back-to-top {
  cursor: pointer;

  &:hover {
    background-color: $barberry;
    padding: 0.15rem 0.5rem;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #cta-contact {
    .h1-jumbo {
      font-size: 5rem;
    }    
  }  
}

@media screen and (max-width: 575px) {
  #cta-contact {
    .h1-jumbo {
      font-size: 3rem;
    }    
  }

  #contact-email-addresses {
    h5 {
      font-size: 1.05rem;
    }
  }
}

.ipad-pro-video {
  @include respond(ipad-pro-portrait) {
    display: none;
  }
  @include respond(ipad-pro-landscape) {
    display: none;
  }
}

.ipad-pro-poster-img {
  @include respond(ipad-pro-portrait) {
    display: block;
  }
  @include respond(ipad-pro-landscape) {
    display: block;
  }
  display: none;
}

.ipad-pro-poster-img-landscape {
  @include respond(ipad-pro-landscape) {
    display: block;
  }
  display: none;
}

.ipad-pro-poster-img-portrait {
  @include respond(ipad-pro-portrait) {
    display: block;
  }
  display: none;
}