@charset "UTF-8";
html, body {
  height: 100%; }

html {
  font-size: 16px; }

@media (max-width: 900px) {
  html {
    font-size: 15px; } }

@media (max-width: 400px) {
  html {
    font-size: 13px; } }

body {
  color: #000000;
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
  margin: 0; }

a {
  transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  color: #000000;
  text-decoration: underline; }
  a:hover {
    background-color: #E6E31A;
    color: #000000; }
  a:hover, a:focus {
    text-decoration: none; }

input,
button,
optgroup,
select,
textarea {
  font-family: inherit; }

input {
  margin-bottom: 0.85rem;
  padding: 0.25rem 0.4rem; }
  input.err {
    border: 2px solid red; }
  input:focus {
    outline: none; }

textarea.err {
  border: 2px solid red; }

input[type="email"],
input[type="text"],
select:focus {
  font-size: 16px; }

hr {
  border: none;
  background-color: #000000; }
  hr.hr-1rem {
    height: 1rem; }
  hr.hr-point7rem {
    height: 0.7rem; }
  hr.hr-half-rem {
    height: 0.5rem; }

video {
  display: block;
  max-width: 100%;
  min-width: 100%; }

button:hover {
  cursor: pointer; }

.muli-reg {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400; }

.muli-bold {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.06rem; }

.muli-extra-bold {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900; }

.h1-jumbo {
  color: #000000;
  font-size: 5.5rem; }
  @media (max-width: 1199px) {
    .h1-jumbo {
      font-size: 4rem; } }
  @media (max-width: 991px) {
    .h1-jumbo {
      font-size: 5rem; } }

.letter-spacing-point05-rem {
  letter-spacing: 0.05rem; }

.letter-spacing-point125-rem {
  letter-spacing: 0.125rem; }

.letter-spacing-point3-rem {
  letter-spacing: 0.3rem; }

.h6-underline {
  border-bottom: 0.5rem solid #000000; }

.mb-2rem {
  margin-bottom: 2rem !important; }

.mb-5rem {
  margin-bottom: 5rem !important; }

.mr-2rem {
  margin-right: 2rem !important; }

@media (min-width: 768px) {
  .mr-md-2rem {
    margin-right: 2rem !important; } }

.mt-6rem {
  margin-top: 6rem !important; }

.mt-5rem {
  margin-top: 5rem !important; }

.mb-8rem {
  margin-bottom: 8rem !important; }

@media (min-width: 576px) {
  .mb-sm-5rem {
    margin-bottom: 5rem !important; } }

@media (min-width: 1200px) {
  .mt-xl-5rem {
    margin-top: 5rem !important; } }

@media screen and (min-width: 1441px) {
  .col-xxl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; } }

.btn {
  border-radius: 0;
  text-decoration: none;
  vertical-align: bottom; }

.btn-cta {
  background-color: #FFFFFF;
  border: 4px solid #000000;
  color: #000000; }
  .btn-cta:hover {
    border-color: transparent; }
  @media (max-width: 767px) {
    .btn-cta {
      display: block;
      margin: 3rem auto;
      max-width: 16rem; } }

.btn-primary {
  background-color: #024FF3;
  border-color: #024FF3; }

.btn-outline-secondary {
  color: #000000; }
  .btn-outline-secondary:focus {
    box-shadow: none; }
  .btn-outline-secondary:hover {
    background-color: transparent;
    color: inherit; }

.card a {
  text-decoration: none; }
  .card a:hover {
    background-color: transparent; }

.card .card-title {
  display: inline-block;
  font-size: 0.95rem;
  position: relative; }
  .card .card-title a {
    text-decoration: none; }
    .card .card-title a:hover {
      background-color: transparent; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    column-count: 2; } }

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    column-count: 3; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4; } }

.white-space-pre-line {
  white-space: pre-line; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.text-overlay-container {
  height: 100%;
  top: 0;
  width: 100%; }

.background-white {
  background-color: #FFFFFF; }

.line-height-1-rem {
  line-height: 1rem; }

.line-height-1-25-rem {
  line-height: 1.25rem; }

.line-height-1-45-rem {
  line-height: 1.45rem; }

.line-height-1-5-rem {
  line-height: 1.5rem; }

.line-height-1-75-rem {
  line-height: 1.75rem; }

.line-height-2-rem {
  line-height: 2rem; }

.list-inline-item-separator:after {
  color: gray;
  content: '•';
  font-size: 0.75rem;
  margin: 0 0 0 0.25rem; }

.list-inline-item-separator:last-child:after {
  content: ''; }

#nav-container {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000; }

#navbar-main .navbar {
  margin: 1rem 0;
  transition: 300ms ease-in-out; }
  #navbar-main .navbar ul {
    width: 100%; }
  #navbar-main .navbar ul li {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.08rem;
    text-transform: uppercase; }
    #navbar-main .navbar ul li#nav-we-eye-logo a:hover,
    #navbar-main .navbar ul li#nav-we-eye-logo a::after {
      box-shadow: none; }
    #navbar-main .navbar ul li#nav-we-eye-logo img {
      width: 6.75rem; }
    #navbar-main .navbar ul li a {
      color: #FFFFFF;
      text-decoration: none;
      position: relative; }
      #navbar-main .navbar ul li a.nav-active {
        box-shadow: 0 7px 0 #E6E31A;
        display: inline-block; }
      #navbar-main .navbar ul li a.nav-link {
        display: inline-block;
        padding: 0;
        margin-bottom: 1rem; }
      #navbar-main .navbar ul li a:hover {
        background-color: transparent; }
      #navbar-main .navbar ul li a::after {
        transition: width 0.15s ease-in-out;
        -ms-transition: width 0.15s ease-in-out;
        -webkit-transition: width 0.15s ease-in-out;
        -moz-transition: width 0.15s ease-in-out;
        -o-transition: width 0.15s ease-in-out;
        bottom: 0;
        box-shadow: 0 7px 0 #E6E31A;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 0; }
      #navbar-main .navbar ul li a:hover::after {
        width: 100%; }
  #navbar-main .navbar .navbar-toggler .icon-bar {
    position: relative;
    top: 0;
    display: block;
    width: 24px;
    height: 3px;
    background: #FFFFFF;
    margin-bottom: 4px;
    transition: 300ms ease-in-out; }
  #navbar-main .navbar .navbar-toggler .icon-bar:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -7px; }
  #navbar-main .navbar .navbar-toggler .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  #navbar-main .navbar .navbar-toggler .icon-bar:nth-child(2) {
    opacity: 0; }
  #navbar-main .navbar .navbar-toggler.collapsed .icon-bar {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    opacity: 1; }
  #navbar-main .navbar.navbar-black a {
    color: #000000; }
  #navbar-main .navbar.navbar-black .navbar-toggler .icon-bar {
    background: #000000; }
  #navbar-main .navbar.navbar-black.nav-opened .navbar-toggler .icon-bar {
    background: #FFFFFF; }

#nav-dashboard a, #navbar-admin a {
  text-decoration: none; }
  #nav-dashboard a:hover, #navbar-admin a:hover {
    background-color: transparent; }

.navbar-brand {
  padding: 0.25rem 0.75rem; }
  .navbar-brand img {
    width: 3rem; }
  .navbar-brand:hover {
    background-color: transparent; }

@media (max-width: 1440px) {
  .navbar ul li#nav-we-eye-logo img {
    width: 6rem; } }

@media only screen and (max-width: 767px) {
  #navbar-main .navbar {
    margin: 0;
    padding: 1.5rem 1rem; }
    #navbar-main .navbar.navbar-black a {
      color: #FFFFFF; }
    #navbar-main .navbar.nav-opened {
      background-color: #000000; }
  #nav-we-eye-logo {
    display: none; }
  .nav-justified .nav-item {
    flex: 0; } }

@media only screen and (min-width: 768px) {
  .navbar-brand {
    display: none; } }

@media (hover: none) {
  #navbar-main .navbar ul li a:hover::after {
    width: 0; } }

.height-100 {
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin-bottom: -15rem;
  padding-bottom: 15rem; }

#footer {
  background-color: #000000;
  color: #FFFFFF;
  height: 15rem; }
  #footer a {
    color: inherit;
    text-decoration: none; }
    #footer a:hover {
      background-color: transparent; }

.copyright {
  font-size: 0.8rem; }

#social-icons .copyright {
  display: none; }

.social-icon-circle {
  border: 3px solid;
  border-radius: 100%;
  font-size: 18px;
  height: 35px;
  padding-top: 6px;
  text-align: center;
  width: 35px; }

.fa-facebook {
  padding-right: 1px; }

.contact-wave span {
  display: table-cell;
  line-height: 3rem; }

.contact-wave:hover span {
  display: table-cell;
  -webkit-animation: jump 0.5s 1;
  -moz-animation: jump 0.5s 1;
  -o-animation: jump 0.5s 1;
  animation: jump 0.5s 1; }

@keyframes jump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }

.contact-wave span:nth-child(1) {
  animation-delay: 0s; }

.contact-wave span:nth-child(2) {
  animation-delay: 0.05s; }

.contact-wave span:nth-child(3) {
  animation-delay: 0.1s; }

.contact-wave span:nth-child(4) {
  animation-delay: 0.15s; }

.contact-wave span:nth-child(5) {
  animation-delay: 0.2s; }

.contact-wave span:nth-child(6) {
  animation-delay: 0.25s; }

.contact-wave span:nth-child(7) {
  animation-delay: 0.3s; }

.contact-wave span:nth-child(8) {
  animation-delay: 0.35s; }

.contact-wave span:nth-child(9) {
  animation-delay: 0.4s; }

.contact-wave span:nth-child(10) {
  animation-delay: 0.45s; }

@media screen and (max-width: 991px) {
  .wrapper {
    margin-bottom: -20rem;
    padding-bottom: 20rem; }
  #footer {
    height: 20rem; }
  #social-icons {
    order: 1; }
    #social-icons .copyright {
      display: block; }
  #name-block .copyright {
    display: none; } }

@media (hover: none) {
  .contact-wave:hover span {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; } }

#pre_footer {
  background-color: #FFFFFF;
  border-top: 2px solid #000000;
  height: 60%;
  position: relative; }
  #pre_footer #pre_footer_overlay {
    height: 100%;
    position: absolute;
    width: 100%; }

form .Select-control {
  border-color: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.05rem 0.75rem; }
  form .Select-control .Select-input {
    padding-left: 0; }

form .checkboxes-container,
form .images-select-container {
  max-height: 21.4rem;
  overflow: scroll; }
  form .checkboxes-container img,
  form .images-select-container img {
    margin: 0.5rem;
    border: 5px solid transparent; }
  form .checkboxes-container img.selected,
  form .images-select-container img.selected {
    border-color: orange; }

form textarea.form-control {
  min-height: 10rem; }

#create-project .form-control,
#create-news-story .form-control,
#create-client .form-control {
  border-radius: 0.25rem; }

#create-project .form-control.word-count,
#create-news-story .form-control.word-count {
  border-radius: 0.25rem 0 0 0.25rem; }

#create-project .word-counter,
#create-news-story .word-counter {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0.25rem 0.25rem 0; }

#mc_signup_cta {
  color: #000000; }
  #mc_signup_cta img {
    width: 3.5rem; }

#mc_signup_form.hide {
  visibility: hidden; }

#mc_signup_form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px #000000 solid;
  border-radius: 0;
  color: #000000;
  width: 100%; }
  #mc_signup_form input::placeholder {
    color: #000000; }
  #mc_signup_form input.err {
    border-radius: 0;
    border-bottom-color: red; }
    #mc_signup_form input.err::placeholder {
      color: red; }

#mc_signup_form button:active {
  background-color: #E6E31A;
  border-color: #E6E31A; }

#mc_signup_form button:focus {
  box-shadow: none;
  -webkit-box-shadow: none; }

#form-messages {
  min-height: 2rem; }

.image-grid-element {
  display: inline-block;
  width: 300px; }

.card > img {
  max-width: 100%; }

.card > img:hover {
  cursor: pointer; }

#close-dropzone {
  align-self: flex-end;
  margin: 0.5rem 0.75rem; }

#open-dropzone-select {
  margin-bottom: 2rem; }

.react-datepicker__input-container .form-control {
  width: 100%; }

.react-datepicker-popper {
  z-index: 3 !important; }

.image-card {
  cursor: move;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1.5rem; }

.image-full-width .img-portrait {
  display: none; }

@media only screen and (max-width: 1024px) {
  .image-full-width .img-landscape {
    display: none; }
  .image-full-width .img-portrait {
    display: block;
    height: auto;
    max-width: 100%; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 670px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .image-full-width .img-landscape {
    display: block; }
  .image-full-width .img-portrait {
    display: none; } }

#login-card .card {
  width: 18rem; }
  #login-card .card > img:hover {
    cursor: initial; }
  #login-card .card a:hover {
    background-color: #E6E31A; }

#login-card .card-img-top {
  background-color: #DEDEDE; }

#login-card .card-block {
  border-top: 1px solid #DEDEDE; }

#work .card::before,
#press .card::before {
  background-color: rgba(0, 0, 0, 0);
  content: '';
  height: 100%;
  position: absolute;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease;
  width: 100%; }

@media (hover) {
  #work .card:hover::before,
  #press .card:hover::before {
    background-color: rgba(0, 0, 0, 0.05);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%; }
  #work .card .card-title::after,
  #press .card .card-title::after {
    transition: width 0.15s ease-in-out;
    -ms-transition: width 0.15s ease-in-out;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out;
    bottom: 0;
    box-shadow: 0 5px 0 #E6E31A;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 0; }
  #work .card .card-title.animate-underline::after,
  #press .card .card-title.animate-underline::after {
    width: 100%; } }

#client-logos img#logo-un, #client-logos img#logo-thomsonreuters, #client-logos img#logo-risd {
  max-width: 100%;
  width: 6rem; }

#client-logos img#logo-whowhatwear, #client-logos img#logo-icg, #client-logos img#logo-mhc {
  max-width: 100%;
  width: 10rem; }

#client-logos img#logo-aiga {
  max-width: 100%;
  width: 4.5rem; }

#client-logos img#logo-wfc {
  max-width: 100%;
  width: 8.5rem; }

#client-logos img#logo-hmithl, #client-logos img#logo-hutong {
  max-width: 100%;
  width: 8rem; }

.feature-image {
  max-height: 50rem;
  overflow: hidden; }

@media screen and (max-width: 1440px) {
  .feature-image {
    max-height: 30rem; } }

.headshot {
  margin-top: 2.4375rem; }

.headshot-animated-gif {
  left: 0;
  position: absolute; }

@media screen and (max-width: 575px) {
  .about-profile {
    padding: 0; }
  .order-1 {
    order: -1; } }

#wp-post-content img {
  height: auto;
  margin-bottom: 2rem;
  max-width: 100%; }

#wp-post-content p {
  margin-bottom: 2rem; }

#wp-post-content h4 {
  font-family: 'Muli';
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase; }

.back-to-top {
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out; }
  .back-to-top:hover {
    background-color: #E6E31A;
    padding: 0.15rem 0.5rem; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.video-container {
  max-height: 72rem;
  overflow: hidden; }

@media screen and (max-width: 1440px) {
  .video-container {
    max-height: 40rem; } }
  @media only screen and (max-width: 1440px) and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .video-container {
      max-height: 72rem; } }
  @media only screen and (max-width: 1440px) and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) {
    .video-container {
      max-height: 72rem; } }

.img-container-mobile {
  max-height: 42rem;
  overflow: hidden; }
  @media (min-width: 576px) {
    .img-container-mobile {
      max-height: 65rem;
      overflow: hidden; } }

@media screen and (max-width: 767px) {
  #cta-contact .h1-jumbo {
    font-size: 5rem; } }

@media screen and (max-width: 575px) {
  #cta-contact .h1-jumbo {
    font-size: 3rem; }
  #contact-email-addresses h5 {
    font-size: 1.05rem; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  .ipad-pro-video {
    display: none; } }

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) {
  .ipad-pro-video {
    display: none; } }

.ipad-pro-poster-img {
  display: none !important; }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .ipad-pro-poster-img {
      display: block !important; } }
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) {
    .ipad-pro-poster-img {
      display: block !important; } }

.ipad-pro-poster-img-landscape {
  display: none !important; }
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) {
    .ipad-pro-poster-img-landscape {
      display: block !important; } }

.ipad-pro-poster-img-portrait {
  display: none !important; }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .ipad-pro-poster-img-portrait {
      display: block !important; } }

.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35); }
  .spinner-container > canvas {
    display: inline-block;
    align-self: center; }

/*# sourceMappingURL=style.css.map */