@charset "UTF-8";
.muli-reg {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400; }

.muli-bold {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.06rem; }

.muli-extra-bold {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900; }

html, body {
  height: 100%; }

html {
  font-size: 16px; }

@media (max-width: 900px) {
  html {
    font-size: 15px; } }

@media (max-width: 400px) {
  html {
    font-size: 13px; } }

body {
  font-family: 'Muli', sans-serif;
  margin: 0; }

a {
  color: #00B7FF; }
  a:hover, a:focus {
    text-decoration: none; }

input,
button,
optgroup,
select,
textarea {
  font-family: inherit; }

input {
  margin-bottom: 0.85rem;
  padding: 0.25rem 0.4rem; }
  input.err {
    border: 2px solid red; }
  input:focus {
    outline: none; }

textarea.err {
  border: 2px solid red; }

hr.hr-1rem {
  border: none;
  height: 1rem;
  background-color: #000000; }

.mb-5rem {
  margin-bottom: 5rem; }

.card-columns-gap-3rem {
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem; }

@media (min-width: 1200px) {
  .card-columns-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }

@media (max-width: 574px) {
  .card-columns-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  .card-columns-gap-2rem {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem; } }

.white-space-pre-line {
  white-space: pre-line; }

.line-height-1-rem {
  line-height: 1rem; }

.line-height-1-25-rem {
  line-height: 1.25rem; }

.line-height-1-45-rem {
  line-height: 1.45rem; }

.line-height-1-5-rem {
  line-height: 1.5rem; }

.line-height-1-75-rem {
  line-height: 1.75rem; }

.line-height-2-rem {
  line-height: 2rem; }

.list-inline-item-separator:after {
  color: gray;
  content: '•';
  font-size: 0.75rem;
  margin: 0 0 0 0.25rem; }

.list-inline-item-separator:last-child:after {
  content: ''; }

#navbar-main .navbar {
  margin: 1rem 0;
  transition: 300ms ease-in-out; }
  #navbar-main .navbar ul {
    width: 100%; }
  #navbar-main .navbar ul li {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.06rem;
    text-transform: uppercase; }
    #navbar-main .navbar ul li#nav-we-eye-logo a:hover,
    #navbar-main .navbar ul li#nav-we-eye-logo a::after {
      box-shadow: none; }
    #navbar-main .navbar ul li#nav-we-eye-logo img {
      width: 8rem; }
    #navbar-main .navbar ul li a {
      color: #FFFFFF;
      position: relative; }
      #navbar-main .navbar ul li a.nav-active {
        box-shadow: 0 7px 0 #E6E31A;
        display: inline-block; }
      #navbar-main .navbar ul li a.nav-link {
        display: inline-block;
        padding: 0.5rem 0;
        margin-bottom: 1rem; }
      #navbar-main .navbar ul li a::after {
        bottom: 0;
        box-shadow: 0 7px 0 #E6E31A;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        -webkit-transition: width 0.15s ease-in-out;
        -moz-transition: width 0.15s ease-in-out;
        -o-transition: width 0.15s ease-in-out;
        transition: width 0.15s ease-in-out;
        width: 0; }
      #navbar-main .navbar ul li a:hover::after {
        width: 100%; }
  #navbar-main .navbar .navbar-toggler {
    padding: 0.75rem 0.75rem 0.155rem; }
    #navbar-main .navbar .navbar-toggler .icon-bar {
      position: relative;
      top: 0;
      display: block;
      width: 24px;
      height: 3px;
      background: #FFFFFF;
      margin-bottom: 4px;
      transition: 300ms ease-in-out; }
    #navbar-main .navbar .navbar-toggler .icon-bar:last-child {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: -7px; }
    #navbar-main .navbar .navbar-toggler .icon-bar:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    #navbar-main .navbar .navbar-toggler .icon-bar:nth-child(2) {
      opacity: 0; }
    #navbar-main .navbar .navbar-toggler.collapsed .icon-bar {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 0;
      opacity: 1; }
  #navbar-main .navbar.navbar-black a {
    color: #000000; }
  #navbar-main .navbar.navbar-black .navbar-toggler .icon-bar {
    background: #000000; }
  #navbar-main .navbar.navbar-black.nav-opened .navbar-toggler .icon-bar {
    background: #FFFFFF; }

.navbar-brand {
  padding: 0.25rem 0.75rem; }
  .navbar-brand img {
    width: 3rem; }

.nav-bg-white {
  background-color: #FFFFFF; }

@media (max-width: 1440px) {
  .navbar ul li#nav-we-eye-logo img {
    width: 6rem; } }

@media only screen and (max-width: 767px) {
  #navbar-main .navbar {
    margin: 0;
    padding: 1.5rem 1rem; }
    #navbar-main .navbar.navbar-black a {
      color: #FFFFFF; }
    #navbar-main .navbar.nav-opened {
      background-color: #000000; }
  #nav-we-eye-logo {
    display: none; }
  .nav-justified .nav-item {
    flex: 0; } }

@media only screen and (min-width: 768px) {
  .navbar-brand {
    display: none; } }

@media (hover: none) {
  #navbar-main .navbar ul li a:hover::after {
    width: 0; } }

.height-100 {
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin-bottom: -15rem;
  padding-bottom: 15rem; }

#footer {
  background-color: #000000;
  color: #FFFFFF;
  height: 15rem; }
  #footer a {
    color: inherit; }

.copyright {
  font-size: 0.8rem; }

#social-icons .copyright {
  display: none; }

.social-icon-circle {
  border: 3px solid;
  border-radius: 100%;
  font-size: 18px;
  height: 35px;
  padding-top: 6px;
  text-align: center;
  width: 35px; }

.fa-facebook {
  padding-right: 1px; }

.contact-wave span {
  display: table-cell;
  line-height: 3rem; }

.contact-wave:hover span {
  display: table-cell;
  -webkit-animation: jump 0.5s 1;
  -moz-animation: jump 0.5s 1;
  -o-animation: jump 0.5s 1;
  animation: jump 0.5s 1; }

@keyframes jump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }

.contact-wave span:nth-child(1) {
  animation-delay: 0s; }

.contact-wave span:nth-child(2) {
  animation-delay: 0.05s; }

.contact-wave span:nth-child(3) {
  animation-delay: 0.1s; }

.contact-wave span:nth-child(4) {
  animation-delay: 0.15s; }

.contact-wave span:nth-child(5) {
  animation-delay: 0.2s; }

.contact-wave span:nth-child(6) {
  animation-delay: 0.25s; }

.contact-wave span:nth-child(7) {
  animation-delay: 0.3s; }

.contact-wave span:nth-child(8) {
  animation-delay: 0.35s; }

.contact-wave span:nth-child(9) {
  animation-delay: 0.4s; }

.contact-wave span:nth-child(10) {
  animation-delay: 0.45s; }

@media screen and (max-width: 767px) {
  .wrapper {
    margin-bottom: -20rem;
    padding-bottom: 20rem; }
  #footer {
    height: 20rem; }
  #social-icons {
    order: 1; }
    #social-icons .copyright {
      display: block; }
  #name-block .copyright {
    display: none; } }

@media (hover: none) {
  .contact-wave:hover span {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; } }

form .Select-control {
  border-color: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.05rem 0.75rem; }
  form .Select-control .Select-input {
    padding-left: 0; }

form .checkboxes-container,
form .images-select-container {
  max-height: 21.4rem;
  overflow: scroll; }
  form .checkboxes-container img,
  form .images-select-container img {
    margin: 0.5rem;
    border: 5px solid transparent; }
  form .checkboxes-container img.selected,
  form .images-select-container img.selected {
    border-color: orange; }

form textarea.form-control {
  min-height: 10rem; }

.image-grid-element {
  display: inline-block;
  width: 300px; }

.dropzone-styles {
  align-items: center;
  border: 2px dashed gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .dropzone-styles button {
    margin-bottom: 2rem; }
    .dropzone-styles button#close-dropzone {
      align-self: flex-end;
      margin: 0.5rem 0.75rem; }

.image-card {
  cursor: move;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1.5rem; }

.image-full-width .img-portrait {
  display: none; }

@media only screen and (max-width: 800px) {
  .image-full-width .img-landscape {
    display: none; }
  .image-full-width .img-portrait {
    display: block;
    height: auto;
    max-width: 100%; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 670px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .image-full-width .img-landscape {
    display: block; }
  .image-full-width .img-portrait {
    display: none; } }

.letter-spacing-point125-rem {
  letter-spacing: 0.125rem; }

.feature-image {
  max-height: 50rem;
  overflow: hidden; }

@media screen and (max-width: 1440px) {
  .feature-image {
    max-height: 30rem; } }

/*# sourceMappingURL=style.css.map */